 
@font-face {
    font-family: 'Cera Pro';
    src: local("Cera Pro");
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: local("Cera Pro");
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: local("Cera Pro");
    src: url('../fonts/CeraPro-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: local("Cera Pro");
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    line-height: 24px;
  
}

.header-logo,
.header-menu,
.header-login{
    display: inline-block;
}
.header{
    font-size: 0;
    padding: 25px 15px 5px 25px;
}
.header-logo{
    width: 150px;
    vertical-align: middle;
}
.header-login{
    width: 100px;
    font-size: 16px;
    vertical-align: middle;
    background-color:#46A358 ;
    text-align: center;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    border: 3px solid #46A358;
}
.header-login:hover{
    color: #46A358;
    background: #fff;
}
.header-menu{
    width: calc(100% - 250px);
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}
.header-menu li{ 
    display: inline-block;
    margin: 5px 15px 5px 15px;
}
.header-menu a{
    text-decoration: none;
    color: #3D3D3D
}
.header-menu a.active{
    border-bottom: 2px solid #46A358;
}
.header-menu a:hover{
    color: #46A358;
}
.visual{
    background: #F5F5F580;
    font-size: 0;
    margin-top: 20px;
}

.visual-text{
    width: 50%;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 45px;
    margin-bottom: 10px;

}


.visual-img{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.visual p,
h1,
.visual-text a
{
    text-transform: uppercase ;
    margin-bottom: 20px;
}
h1{
    font-size: 70px;
    line-height: 1;
    font-weight: 900;
}
.green-planet{
    color: #46A358;
}
h3{
    color: #727272;
}
.button-link{
    display: inline-block;
    margin-top: 40px;
    width: 150px;
    background-color: #46A358;
    padding: 8px;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    border: 3px solid #46A358;
}
.button-link:hover{
    color: #46A358;
    background: #fff;
}
.main-layout {
    overflow: hidden;
    align-items: flex-start;
   
}
.content {
    float: right;
    width: calc(100% - 310px);
    padding: 40px;
    
    
}
.aside-menu {
    width: 310px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 20px;
    float: left;
    
}
.aside-list li a:hover {
    color: #46A358;
}

.aside-img{
    float: left;
    margin: 0%;
}
.aside-img img{
    width: 100%;
    display: block;
    
}
.aside-menu h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.aside-list li {
    margin-bottom: 40px;
}
.aside-list a {
    text-decoration: none;
    color: #3D3D3D
}
.aside-list a.active{
    border-bottom: 2px solid #46A358;
}


.content-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
   
}
.filter-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}
.filter-menu li{
    margin: 0;
}
.filter-menu li a:hover{
    color: #46A358;
}
.sort-menu{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #333;
}
.filter-menu a {
    text-decoration: none;
    color: #666;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    display: block;
}
.filter-menu a.active {
    color: #7cb342;
    border-bottom-color: #7cb342;
}


.products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1000px;
    
    
}

.list-product {
    background: white;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 258px;
    max-height: 350%;
    display: flex;
   

}
.products-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 40px;
}



.product-name {
    font-size: 16px;
    color: #333;
    text-align: left;
}

.product-price {
    font-size: 16px;
    color: #7cb342;
    font-weight: bold;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    margin-left: 1120px;
    justify-content: flex-end;
}
.pagination a{
    text-decoration: none;
    color: #3D3D3D;
    border: 1px solid #727272;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 9px 13px;
}
.pagination a.active{
    background: #46A358;
    color: #fff;
    border-color: #46A358;
}
.pagination a:hover{
    color: #46A358;
    background: #fff;
}

.product{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 60px 40px;
    background-color: #FBFBFB;
    
    
}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 700px;
    border-radius: 10px;
    gap: 30px;

}
.card img{
    
    height: auto;
    margin-bottom: 20px;
    flex-shrink: 0;
}
.card_text{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 10px;
     
    margin-left: 0px;
    text-align: left;
}
.card_text h2{
    font-size: 18px;
    font-weight: 900;
    color: #3D3D3D;
}
.card_text p{
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    
}
.holder{
    margin-top: 50px;
}
.holder .title {
    text-align: center;
    margin-bottom: 30px;
}
.holder .title h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
}
.holder .title p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    margin-top: 20px;
}
.post_holder{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    gap: 40px;
}
.item_holder{
    display:flex;
    flex-direction: column;
    
}
.text_holder{
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;

}
.item_holder img{
    height: 195.1px;
    width: 268px;
}
.text_holder .link{
    margin-top: 10px;
    color: #46A358;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}
.text_holder h2{
    color: #3D3D3D;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-top: 10px;
}
.text_holder p{
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
}

.item_holder a{
    text-decoration: none;
    display: flex;
    color: #3D3D3D;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 10px;
}

.item_holder a.active{
    color: #46A358;
}

.item_holder a:hover{
    color: #46A358;
}
.item_holder a{
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.item_holder .arrow{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}